<h1>Список моделей</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Компания</td>
            <td>Роль</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Логин</td>
            <td>Пароль</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <ng-template [ngIf]="product?.id != p.id" [ngIfElse]="edit">
                <td>{{p?.id}}</td>
                <td>{{p?.companyid}}</td>
                <td>{{p?.roleid}}</td>
                <td>{{p?.name}}</td>
                <td>{{p?.surname}}</td>
                <td>{{p?.login}}</td>
                <td>{{p?.password}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editProduct(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="product.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="product.company" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="product.price" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Модель</label>
        <input type="text" [(ngModel)]="product.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Производитель</label>
        <input type="text" [(ngModel)]="product.company" class="form-control" />
    </div>
    <div class="form-group">
        <label>Цена</label>
        <input type="text" [(ngModel)]="product.price" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>